.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    margin: 10px;
    max-width: 200px;
  }
  
  .product-card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-image {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .product-name {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
  }
  
  .product-price {
    color: #007b5e;
    font-weight: bold;
  }
  
  .details-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007b5e;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .details-link:hover {
    background-color: #00573e;
  }
  
  .add-to-cart-btn {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #007b5e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-to-cart-btn:hover {
    background-color: #00573e;
  }
  
  .add-to-cart-btn.added {
    background-color: #28a745;
    color: #fff;
  }
  