:root {
  --primary-color: #007b5e;
  --secondary-color: #f9f9f9;
  --accent-color: #00573e;
  --text-color: #333;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

button {
  font-family: inherit;
}
